#Ignore dev environment settings
local_settings.py
dev_settings.py

#Ignore python cached objects
*.pyc

#Ignore local database files
*.db

#Ignore uploaded files
legis/*

#Ignore script files
scripts/*
