<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Gestor de Informações de Conselhos</title>

  
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/extras.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Aldrich">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu">
  

  <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>

</head>
<body>
<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
        <li class="name">
          <h1 class="top-bar"><a href="/conselhos/">Participação Social</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
    </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="has-dropdown"><a class="active" href="#">Conselhos</a>
            <ul class="dropdown">
              <li><label>de Estado</label></li>
                <li class="has-dropdown"><a href="#">Administração Direta</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'conselhos' categoria='CEADG' %}">Gestor de Politicas Públicas</a></li>
                    <li><a href="{% url 'conselhos' categoria='CEADA' %}">Administração de Órgão Públicos</a></li>
                    <li><a href="{% url 'conselhos' categoria='CEADFP' %}">Administração de Fundos Públicos</a></li>
                    <li><a href="{% url 'conselhos' categoria='CEADFI' %}">Fiscais e Patrimoniais</a></li>
                    <li><a href="{% url 'conselhos' categoria='CEADFF' %}">Fiscais de Fundos Federais</a></li>
                    <li><a href="{% url 'conselhos' categoria='CEADAN' %}">Normativos e Reguladores</a></li>
                  </ul>
                </li>
                <li class="has-dropdown"><a href="#">Administração Indireta</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'conselhos' categoria='CEAIAD' %}">Administração</a></li>
                    <li><a href="{% url 'conselhos' categoria='CEAIFI' %}">Fiscal</a></li>
                  </ul>
                </li>
                <li class="divider"></li>
              <li><label>Comunitários</label></li>
              <li class="has-dropdown"><a href="#">Territoriais</a>
                <ul class="dropdown">
                  <li><a href="{% url 'conselhos' categoria='CTPC' %}">Prefeituras Comunitárias</a></li>
                  <li><a href="{% url 'conselhos' categoria='CTAC' %}">Associações Comunitárias</a></li>
                  <li><a href="{% url 'conselhos' categoria='CTCC' %}">Conselho da Cidade/Bairro</a></li>
                </ul>
              </li>
              <li><a href="{% url 'conselhos' categoria='CCST' %}">Setoriais</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a class="active" href="#">Relatórios</a>
            <ul class="dropdown">
              <li>
                    <li><a href="{% url 'dados_conselheiros' tipo='1' %}">Dados dos Conselheiros - Por Conselho</a></li>
                    <li><a href="{% url 'dados_conselheiros' tipo='2' %}">Dados dos Conselheiros - Por Conselheiro</a></li>
                    <li><a href="{% url 'dados_conselheiros' tipo='3' %}">Conselheiros de Administração Direta - Com Jeton</a></li>
                    <li><a href="{% url 'dados_conselheiros' tipo='4' %}">Conselheiros de Administração Direta - Sem Jeton</a></li>
                    <li><a href="{% url 'dados_conselheiros' tipo='5' %}">Conselheiros da Administração Indireta</a></li>
                    <li><a href="{% url 'rel_cargos_vagos' %}">Cargos Vagos</a></li>
                </li>
            </ul>
          </li>
      </ul>
      </section>
    </nav>
</div>
  {% block content %}
  {% endblock content %}

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ STATIC_URL }}js/vendor/zepto' : '{{ STATIC_URL }} js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
