{% extends 'publico/base.html' %}
{% block content %}
	<div class="row">
   	<div class="twelve columns">
     		<h2>{{ conselho.nome }}</h2>
      		<p class="subheader">Fundado em {{ fundacao.data }} pelo(a) {{ fundacao.get_categoria_display }} {{ fundacao.titulo }}</p>
      <hr />
    </div>
  </div>
  <div class="row">

    <div class="section-container auto" data-section>
		  
      <section class="active">
        <p class="title" data-section-title><a href="#panel-dados-basicos">Dados Básicos</a></p>
        <div class="content" data-section-content>
          <p><b>Categoria:</b> {{ conselho.get_categoria_display }}</p>
          <p><b>E-Mail:</b> <a href="mailto:{{ conselho.email }}">{{ conselho.email }}</a></p>
          <p><b>Endereço:</b> {{ conselho.endereco }}</p>
          <p><b>Site:</b> <a href="{{ conselho.site }}">{{ conselho.site }}</a></p>
          <p><b>Atribuições:</b> {{ conselho.atribuicoes|linebreaks }}</p>
        </div>
      </section>

      <section>
        <p class="title" data-section-title><a href="#panel-legislacao">Legislação</a></p>
        <div class="content" data-section-content>
          {% for legislacao in legislacoes %}
            <p><a href="{{ legislacao.link }}">{{ legislacao }}</a></p>
          {% endfor %}
        </div>
      </section>

      <section>
        <p class="title" data-section-title><a href="#panel-estrutura">Estrutura</a></p>
        <div class="content" data-section-content>
          <table>
            <thead>
            <tr>
              <th>Cargo</th>
              <th>Legislação</th>
              <th>Conselheiro</th>
            </tr>
            </thead>
            {% for cargoregimental in cargosregimentais %}
            {% if not cargoregimental.mandato_vigente %}
            <tr>
              <td>{{ cargoregimental }}</td>
              {% if cargoregimental.legislacao %}
                <td>{{ cargoregimental.legislacao.get_categoria_display }} {{ cargoregimental.legislacao.titulo }}</td>
              {% else %}
                <td>Não Previsto em Legislação</td>
              {% endif %}
                <td>Cargo Disponível</td>
            </tr>
            {% else %}
            <tr>
              <td>{{ cargoregimental.mandato_vigente.get_atribuicao_display }}, {{cargoregimental}}</td>
              {% if cargoregimental.legislacao %}
                <td>{{ cargoregimental.legislacao.get_categoria_display }} {{ cargoregimental.legislacao.titulo }}</td>
              {% else %}
                <td>Não Previsto em Legislação</td>
              {% endif %}
              <td>
                {% if not cargoregimental.mandato_vigente.suplente_exercicio %}
                <a href="/conselheiro/{{ cargoregimental.mandato_vigente.titular_id }}">{{ cargoregimental.mandato_vigente }}</a>
                {% else %}
                <a href="/conselheiro/{{ cargoregimental.mandato_vigente.suplente_id }}">{{ cargoregimental.mandato_vigente }}</a>
                {% endif %}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </section>

      <section>
        <p class="title" data-section-title><a href="#panel-mandatos">Mandatos</a></p>
        <div class="content" data-section-content>
          <table>
            <thead>
            <tr>
              <th>Nome</th>
              <th>Inicio do Mandato</th>
              <th>Previsão de Encerramento</th>
              <th>Encerramento do Mandato</th>
              <th>Atribuição</th>
              <th>Cargo</th>
              <th>Recebe Jeton</th>
            </tr>
            </thead>
              {% for mandato in mandatos %}
              <tr>
                {% if not mandato.suplente_exercicio %}
                  <td>{{ mandato.titular }}</td>
                {% else %}
                  <td>{{ mandato.suplente }}</td>
                {% endif %}
                <td>{{ mandato.data_inicial }}</td>
                <td>{{ mandato.data_final }}</td>
                {% if mandato.data_termino %}
                  <td>{{ mandato.data_termino }}</td>
                {% else %}
                  <td>Em exercicio</td>
                {% endif %}
                <td>{{ mandato.get_atribuicao_display }}</td>
                <td>{{ mandato.cargo }}</td>
                {% if mandato.jeton %}
                <td>Sim</td>
                {% else %}
                <td>Não</td>
                {% endif %}
              </tr>
              {% endfor %}
          </table>
        </div>
      </section>

      <section>
        <p class="title" data-section-title><a href="#panel-estatisticas">Estatisticas</a></p>
        <div class="content" data-section-content>
          <table>
            <thead>
            <tr>
              <th></th>
              <th>Ocupados</th>
              <th>Livres</th>
              <th>Total</th>
            </tr>
            </thead>
            <tr>
              <td>Cargos Previstos em Legislação</td>
              <td>{{ n_cargos_previstos_ocupados }}</td>
              <td>{{ n_cargos_previstos_livres }}</td>
              <td>{{ n_cargos_previstos }}</td>
            </tr>
            <tr>
              <td>Cargos Não Previstos em Legilslação</td>
              <td>{{ n_cargos_nprevistos_ocupados }}</td>
              <td>{{ n_cargos_nprevistos_livres }}</td>
              <td>{{ n_cargos_nprevistos }}</td>
            </tr>
            <tr>
              <td>Total de Cargos</td>
              <td>{{ n_cargos_ocupados }}</td>
              <td>{{ n_cargos_livres }}</td>
              <td>{{ n_cargos }}</td>
            </tr>
          </table>
          <table>
            <thead>
            <tr>
              <th></th>
              <th>Sociedade Civil</th>
              <th>Poder Publico Distrital</th>
              <th>Poder Publico Federal</th>
            </tr>
            </thead>
            <tr>
              <td>Membro Nato da Sociedade Cívil</td>
              <td id="center">{{ cargo_membro_nato_sc.count }}</td>
              <td>{{ cargo_membro_nato_pp_dist_sc.count }}</td>
              <td>{{ cargo_membro_nato_pp_fed_sc.count }}</td>
            </tr>
            <tr>
              <td>Membro Nato do Poder Público</td>
              <td id="center">{{ cargo_membro_nato_sc_pp.count }}</td>
              <td>{{ cargo_membro_nato_pp_dist.count }}</td>
              <td>{{ cargo_membro_nato_pp_fed.count }}</td>
            </tr>
            <tr>
              <td>Indicação Institucional da Sociedade Civil</td>
              <td>{{ cargo_indicacao_sc.count }}</td>
              <td>{{ cargo_indicacao_sc_pp_dist.count }}</td>
              <td>{{ cargo_indicacao_sc_pp_fed.count }}</td>
            </tr>
            <tr>
              <td>Indicação Inst. da Soc. Cívil por Eleição</td>
              <td>{{ cargo_indicacao_eleicao.count }}</td>
              <td>{{ cargo_indicacao_eleicao_pp_dist.count }}</td>
              <td>{{ cargo_indicacao_eleicao_pp_fed.count }}</td>
            </tr>
            <tr>
              <td>Indicação Institucional pelo Poder Público</td>
              <td>{{ cargo_indicacao_pp_sc.count }}</td>
              <td>{{ cargo_indicacao_pp_dist.count }}</td>
              <td>{{ cargo_indicacao_pp_fed.count }}</td>
            </tr>
            <tr>
              <td>Indicação por Gestor da Área</td>
              <td>{{ cargo_indicacao_sc_gestor.count }}</td>
              <td>{{ cargo_indicacao_pp_dist_gestor.count }}</td>
              <td>{{ cargo_indicacao_pp_fed_gestor.count }}</td>
            </tr>
            <tr>
              <td>Indicação por Gestor da Área por Lista Triplice</td>
              <td>{{ cargo_indicacao_sc_gestorlt.count }}</td>
              <td>{{ cargo_indicacao_pp_dist_gestorlt.count }}</td>
              <td>{{ cargo_indicacao_pp_fed_gestorlt.count }}</td>
            </tr>
            <tr>
              <td>Indicação pelo Governador</td>
              <td>{{ cargo_indicacao_sc_gov.count }}</td>
              <td>{{ cargo_indicacao_pp_dist_gov.count }}</td>
              <td>{{ cargo_indicacao_pp_fed_gov.count }}</td>
            </tr>
            <tr>
              <td>Indicação pelo Governador por Lista Triplice</td>
              <td>{{ cargo_indicacao_sc_govlt.count }}</td>
              <td>{{ cargo_indicacao_pp_dist_govlt.count }}</td>
              <td>{{ cargo_indicacao_pp_fed_govlt.count }}</td>
            </tr>
            <tr>
              <td>Indicação pelo Segmento da Sociedade Civil</td>
              <td>{{ cargo_indicacao_sc_segsc.count }}</td>
              <td>{{ cargo_indicacao_pp_dist_segsc.count }}</td>
              <td>{{ cargo_indicacao_pp_fed_segsc.count }}</td>
            </tr>
            <tr>
              <td>Indicação pelo Segmento da Sociedade Civil por Eleição</td>
              <td>{{ cargo_indicacao_sc_segsce.count }}</td>
              <td>{{ cargo_indicacao_pp_dist_segsce.count }}</td>
              <td>{{ cargo_indicacao_pp_fed_segsce.count }}</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </div>
{% endblock content %}