{% extends 'publico/base.html' %}
{% block content %}
	<div class="row">
    	<div class="twelve columns">
      		<h2>{{ conselheiro.nome }}</h2>
        <hr />
    </div>
  </div>
  <div class="row">
    <div class="section-container auto" data-section>

      <section class="active">
        <p class="title" data-section-title><a href="#panel-dadosbasicos">Dados Básicos</a></p>
        <div class="content" data-sections-content>
          <p><b>Endereço:</b> {{ conselheiro.endereco|linebreaks }}</p>
          <p><b>E-Mail:</b> <a href="mailto:{{ conselheiro.email }}">{{ conselheiro.email }}</a></p>
          <p><b>Vinculo Político:</b> {{ conselheiro.vinculo|linebreaks }}</p>
          <p><b>Descrição:</b> {{ conselheiro.descricao }}</p>
        </div>
      </section>

      <section>
        <p class="title" data-section-title><a href="#panel-mandatos">Mandatos</a></p>
        <div class="content" data-sections-content>
          <table>
            <thead>
            <tr>
              <th>Conselho</th>
              <th>Cargo</th>
            </tr>
            </thead>
            {% for mandato in mandatos %}
              <tr>
                <td><a href="{% url 'conselho' mandato.conselho.id %}">{{ mandato.conselho }}</a></td>
                <td>{{ mandato.get_atribuicao_display }}, {{ mandato.cargo }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </section>
    </div>
  </div>
{% endblock content %}